<div class="container col-md-6 my-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" action="">
        <div class="form-control">
          <label for="">User Email </label>
          <input type="email" formControlName="email" class="form-control" />
          @if (email?.touched && email?.invalid) {
          <div class="alert alert-danger">This Email is Requird</div>
          }
        </div>
        <div class="form-control my-3">
          <label for="">User Password </label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
          @if (password?.touched && password?.invalid) {
          <div class="alert alert-danger">This Password is Requird</div>
          }
        </div>
        <div class="d-grid">
          @if (loginFormValidation.invalid) {
          <button disabled class="btn btn-info">Login</button>
          }@else{
          <button (click)="login()" class="btn btn-info">Login</button>
          }
        </div>
      </form>
    </div>
  </div>
</div>

