<div class="container mt-5">
  <div class="jumbotron">
    <div class="wrapper">
      <svg>
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">
          Welcome to Student Management System
        </text>
      </svg>
    </div>
    <p class="lead">This is a simple student management system where you can manage student information.</p>
    <hr class="my-4">
    <p>Click the button below to view the list of students.</p>
    <a class="btn btn-primary btn-lg" routerLink="/students" role="button">View Students</a>
  </div>
</div>
